@media screen and (max-width :376px )  {
    .loginPage{
        display: flex;
        flex-direction: column;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 70%;
        position: relative;
        left: 15%;
        border-radius: 5px;
    }
    .Email-Input:hover , .Password-Input:hover{
        transform: scale(1.1);
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 2.5vh;
        left: 15%;
        width: 50%;
        font-size: small;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: small;
    position: relative;
    bottom: 7.5vh;
    left: 45%;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 17%;
   }
   .Login-Button{
    position: relative;
    bottom: 10vh;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: small;
    position: relative;
    bottom: 16.3vh;
    left: 5%;
   }
   .OR{
    position: relative;
    bottom: 15vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 12vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
   }
   .Moltaqa-Logo{
    width: 40%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 8vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 10vh;
    margin: 0 auto;
   }
   .Description-Login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}