@media screen and (max-width :376px ) and (min-width : 350px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 70%;
        position: relative;
        left: 15%;
        border-radius: 5px;
    }
    .Email-Input:hover , .Password-Input:hover{
        transform: scale(1.1);
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 2.5vh;
        left: 5%;
        width: 50%;
        font-size: small;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: small;
    position: relative;
    bottom: 7.5vh;
    left: 45%;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 17%;
   }
   .Login-Button{
    position: relative;
    bottom: 10vh;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: small;
    position: relative;
    bottom: 16.3vh;
   }
   .OR{
    position: relative;
    bottom: 15vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 12vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
   }
   .Moltaqa-Logo{
    width: 40%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 8vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 10vh;
    margin: 0 auto;
   }
   .Description-Login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :391px  )and (min-width : 380px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
    }
    .Email-Input:hover , .Password-Input:hover{
        transform: scale(1.1);
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 2vh;
        left: 2%;
        width: 50%;
        font-size: small;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: small;
    position: relative;
    bottom: 5.9vh;
    left: 45%;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 17%;
   }
   .Login-Button{
    position: relative;
    bottom: 7vh;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: small;
    position: relative;
    bottom: 11.6vh;
  
   }
   .OR{
    position: relative;
    bottom: 12vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 11vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
   }
   .Moltaqa-Logo{
    width: 40%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 7vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .Description-Login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
    
   }
}
@media screen and (max-width :415px  )and (min-width : 400px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
    }
    .Email-Input:hover , .Password-Input:hover{
        transform: scale(1.1);
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 2vh;
        
        width: 50%;
        font-size: small;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: small;
    position: relative;
    bottom: 5.7vh;
    left: 45%;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 17%;
   }
   .Login-Button{
    position: relative;
    bottom: 7vh;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: small;
    position: relative;
    bottom: 11.6vh;
   
   }
   .OR{
    position: relative;
    bottom: 12vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 11vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
   }
   .Moltaqa-Logo{
    width: 40%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 7vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .Description-Login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :431px  )and (min-width : 417px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
    }
    .Email-Input:hover , .Password-Input:hover{
        transform: scale(1.1);
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 2vh;
        
        width: 50%;
        font-size: small;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: small;
    position: relative;
    bottom: 5.7vh;
    left: 45%;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 17%;
   }
   .Login-Button{
    position: relative;
    bottom: 7vh;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: small;
    position: relative;
    bottom: 11.6vh;
   
   }
   .OR{
    position: relative;
    bottom: 12vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 11vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
   }
   .Moltaqa-Logo{
    width: 40%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 7vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .Description-Login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :361px  )and (min-width : 350px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        position: relative;
        border-radius: 5px;
    }
    .Email-Input:hover , .Password-Input:hover{
        transform: scale(1.1);
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 2vh;
        
        width: 50%;
        font-size: small;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 60%;
    font-size: small;
    position: relative;
    bottom: 6.5vh;
    left: 45%;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 17%;
   }
   .Login-Button{
    position: relative;
    bottom: 7vh;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: small;
    position: relative;
    bottom: 11.6vh;
   
   }
   .OR{
    position: relative;
    bottom: 12vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 11vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
   }
   .Moltaqa-Logo{
    width: 40%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 7vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .Description-Login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :413px  )and (min-width : 411px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
    }
    .Email-Input:hover , .Password-Input:hover{
        transform: scale(1.1);
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 2vh;
        
        width: 50%;
        font-size: small;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: small;
    position: relative;
    bottom: 5.7vh;
    left: 45%;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 17%;
   }
   .Login-Button{
    position: relative;
    bottom: 7vh;
    width: 70%;
    margin: 0 auto;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: small;
    position: relative;
    bottom: 10.6vh;
   
   }
   .OR{
    position: relative;
    bottom: 12vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 11vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
   }
   .Moltaqa-Logo{
    width: 40%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 7vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .Description-Login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :769px  )and (min-width : 750px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        height: 2.4vh;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
        font-size: large;
    }
    .Email-Input:hover , .Password-Input:hover{
       
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 1.8vh;
        left: 5%;
        width: 50%;
        font-size: large;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: large;
    position: relative;
    bottom: 5.2vh;
    left: 45%;
    justify-content: space-around;
    text-align: center;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 30%;
   }
   .Login-Button{
    position: relative;
    bottom: 7vh;
    width: 60%;
    margin: 0 auto;
    font-size: large;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: large;
    position: relative;
    bottom: 10vh;
   
   }
   .OR{
    position: relative;
    bottom: 11vh;
    margin: 0 auto;
    font-size: x-large;
   }
   .google{
    position: relative;
    bottom: 10vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
    font-size: x-large;
   }
   .Moltaqa-Logo{
    width: 25%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 7vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
    font-size: x-large;
   }
   .Description-Login{
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :821px  )and (min-width : 810px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        height: 2.4vh;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
        font-size: large;
    }
    .Email-Input:hover , .Password-Input:hover{
       
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 1.6vh;
        left: 5%;
        width: 50%;
        font-size: large;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: large;
    position: relative;
    bottom: 4.6vh;
    left: 45%;
    justify-content: space-around;
    text-align: center;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 30%;
   }
   .Login-Button{
    font-size: large;
    position: relative;
    bottom: 6vh;
    width: 60%;
    margin: 0 auto;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: large;
    position: relative;
    bottom: 8.5vh;
   
   }
   .OR{
    font-size: x-large;
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 8vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
    font-size: x-large;
   }
   .Moltaqa-Logo{
    width: 25%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 5vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 7vh;
    margin: 0 auto;
    font-size: xx-large;
   }
   .Description-Login{
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :1025px  )and (min-width : 1000px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        height: 2.4vh;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
        font-size: x-large;
    }
    .Email-Input:hover , .Password-Input:hover{
       
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 1.4vh;
        left: 5%;
        width: 50%;
        font-size: x-large;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: x-large;
    position: relative;
    bottom: 4.6vh;
    left: 45%;
    justify-content: space-around;
    text-align: center;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 30%;
   }
   .Login-Button{
    font-size: x-large;
    position: relative;
    bottom: 6vh;
    width: 60%;
    margin: 0 auto;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: x-large;
    position: relative;
    bottom: 8.5vh;
   
   }
   .OR{
    font-size: x-large;
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 8vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
    font-size: xx-large;
   }
   .Moltaqa-Logo{
    width: 30%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 5vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 7vh;
    margin: 0 auto;
    font-size: xx-large;
   }
   .Description-Login{
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: start;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :913px  )and (min-width : 900px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        height: 2.4vh;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
        font-size: x-large;
    }
    .Email-Input:hover , .Password-Input:hover{
       
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 1.4vh;
        left: 5%;
        width: 50%;
        font-size: x-large;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: x-large;
    position: relative;
    bottom: 4.6vh;
    left: 45%;
    justify-content: space-around;
    text-align: center;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 30%;
   }
   .Login-Button{
    font-size: x-large;
    position: relative;
    bottom: 5vh;
    width: 60%;
    margin: 0 auto;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: x-large;
    position: relative;
    bottom: 7.5vh;
   
   }
   .OR{
    font-size: x-large;
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 8vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
    font-size: xx-large;
   }
   .Moltaqa-Logo{
    width: 25%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 5vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 7vh;
    margin: 0 auto;
    font-size: xx-large;
   }
   .Description-Login{
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :541px  )and (min-width : 539px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        height: 3vh;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
        font-size: medium;
    }
    .Email-Input:hover , .Password-Input:hover{
       
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 2.5vh;
        left: 5%;
        width: 50%;
        font-size: large;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 60%;
    font-size: medium;
    position: relative;
    bottom: 7.5vh;
    left: 45%;
    justify-content: space-around;
    text-align: center;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 30%;
   }
   .Login-Button{
    font-size: medium;
    position: relative;
    bottom: 7vh;
    width: 60%;
    margin: 0 auto;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: medium;
    position: relative;
    bottom: 8.5vh;
   
   }
   .OR{
    font-size: large;
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 8vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
    font-size: large;
   }
   .Moltaqa-Logo{
    width: 25%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 5vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 7vh;
    margin: 0 auto;
    font-size: x-large;
   }
   .Description-Login{
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :345px  )and (min-width : 340px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        position: relative;
        border-radius: 5px;
        margin: 0 auto;
        height: 2vh;
    }
    .Email-Input:hover , .Password-Input:hover{
        transform: scale(1.1);
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 2.2vh;
        left: 4%;
        width: 50%;
        font-size: small;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 59%;
    font-size: small;
    position: relative;
    bottom: 6vh;
    left: 40%;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 17%;
   }
   .Login-Button{
    position: relative;
    bottom: 8vh;
    font-size: small;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: small;
    position: relative;
    bottom: 11.6vh;
   
   }
   .OR{
    position: relative;
    bottom: 12vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 11vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
   }
   .Moltaqa-Logo{
    width: 40%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 7vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .Description-Login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (max-width :854px  )and (min-width : 850px)  {
    .loginPage{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .loginInputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .Email-Input , .Password-Input{
        width: 75%;
        height: 2.4vh;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
        font-size: x-large;
    }
    .Email-Input:hover , .Password-Input:hover{
       
        transition:0.4s;
        border: blue solid 0.5px;
    }
    .forget{
        cursor: pointer;
        position: relative;
        bottom: 1.5vh;
        left: 5%;
        width: 50%;
        font-size: x-large;
        text-decoration: none;
    }
   .Remember-Label{
    display: flex;
    flex-direction: row;
    width: 60%;
    font-size: x-large;
    position: relative;
    bottom: 5vh;
    left: 40%;
    justify-content: space-around;
    text-align: center;
   }
   .Remember-span{
    width: 400px;
    position: relative;
    right: 30%;
   }
   .Login-Button{
    font-size: x-large;
    position: relative;
    bottom: 6vh;
    width: 60%;
    margin: 0 auto;
   }
   .Login-Button:hover{
    transition:0.7s;
    opacity: 0.6;
   }
   .Register-Login{
    font-size: x-large;
    position: relative;
    bottom: 8.5vh;
   
   }
   .OR{
    font-size: x-large;
    position: relative;
    bottom: 9vh;
    margin: 0 auto;
   }
   .google{
    position: relative;
    bottom: 8vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 7vh;
    border-bottom: solid 0.5px black;
    font-size: xx-large;
   }
   .Moltaqa-Logo{
    width: 25%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 5vh;
   }
   .Welcome-Login{
    position: relative;
    bottom: 7vh;
    margin: 0 auto;
    font-size: xx-large;
   }
   .Description-Login{
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4vh;
   }
}
@media screen and (min-width : 1200px)  {
   .loginPage{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: unset !important;
    
   }
   .loginInputs{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.Email-Input , .Password-Input{
    width: 130%;
    height: 5vh;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    font-size: large;
    right: 70%;
    top: 30vh;
}
.Email-Input:hover , .Password-Input:hover{
   transform: scale(1.05);
    transition:0.4s;
    border: blue solid 0.5px;
}
.forget{
    cursor: pointer;
    position: relative;
    top: 28vh;
    width: 100%;
    right: 65%;
    text-decoration: none;
}
.Remember-Label{
position: relative;
left: 50%;
top: 26vh;

text-align: center;
}
.Remember-span{
position: relative;
bottom: 0.2vh;
right: 54%;
}

.Login-Button{

position: relative;
right: 45%;
width: 70%;
height: 5vh;
top: 25vh;
}
.Login-Button:hover{
transition:0.7s;
opacity: 0.6;
}

.Register-Login{

position: relative;
top: 24.3vh;
right: 55%;
}
.OR{

position: relative;
top: 28vh;
font-size: x-large;
margin: 0 auto;
right: 15%;
}
.google{
position: relative;
top: 30vh;
right: 37%;
margin: 0 auto;
font-size: x-large;
width: 100%;
text-align: center;
height: 7vh;
text-decoration: none;

} 
.Welcome-Div-L{
    width: 45%;
    position: relative;
    top: 5vh;
}
.Moltaqa-Logo{
width: 20%;
border-radius: 10px;
position: relative;
left: 30%;
top: 17vh;
}
.Welcome-Login{
position: relative;
left: 33%;
font-size: x-large;
top: 15vh;
}
.Description-Login{
text-wrap: wrap;
width: 50%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0 auto;
right: 10%;
text-align: start;
font-size: large;
position: relative;
top: 20vh;
}
.Login-Form{
    position: relative;
    left: 10%;
  
}
.Loading{
    position: relative;
    font-size: 60px;
    color: grey;
    right: 15%;
    top: 40vh;
}
}
.Body-Login {
  background-color: #85b9dd;
    height: 99vh;
}

* {
  position: relative;
}
.google-L{
    position: relative;
    top: 32vh;
    right: 55%;
}
.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/**
 * Paper Plane
 */
/*Paper Plane: Container*/
.plane-container {
  width: 200px;
  margin: 0px auto;
  z-index: 3;
}
 /*Paper Plane: Image*/
.plane {
  width: 100%;
  height: 60px;
}

/*Paper Plane: Animation*/
.plane-container {
  -webkit-animation: paper-plane-scoping 2s alternate infinite;
  -moz-animation: paper-plane-scoping 2s alternate infinite;
  animation: paper-plane-scoping 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
}
@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/**
 * Clouds
 */

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}