/* .post {
  display: grid;
  grid-template-columns: 0fr 1fr;
  width: 100%;
}
.profPic {
  height: 30%;
}
.createPost {
  display: flex;
  width: 90vh;
  gap: 20px;
}
.innerPost {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  justify-items: start;
  justify-content: start;
  align-self: baseline;
}
input {
  width: 50vh;
}
.Search-Button {
  position: relative;
  left: 100%;
  bottom: 4.6vh;
  cursor: pointer;
  height: 4.5vh;
  padding: 0 1%;
  border: solid 0.5px;
  border-radius: 0 10px 10px 0;
}
.Search-Button:hover {
  transform: scale(1.1);
  transition: 0.4s;
  color: blue;
  left: 100.3%;
}
.search-input {
  border-radius: unset;
  border-radius: 10px 0 0 10px;
}
.float-Button {
  margin: 0 13% 0 0;
} */
