.post {
  display: grid;
  grid-template-columns: 0fr 1fr;
  width: 100%;
}
.profPic {
  height: 30%;
}
.createPost {
  display: flex;
  width: 90vh;
  gap: 20px;
}
.innerPost {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  justify-items: start;
  justify-content: start;
  align-self: baseline;
}
input {
  width: 50vh;
}
