

.MoltaqaIcon{
    border-radius: 20%;
    width: 10%;


}
.LogoutButton{
    position: relative;
    left: 10%;
    bottom: 10vh;
    /*just for test */
}
.parent{
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    padding: 20px;
}
.nav{
    display: flex;
    align-items: baseline;
    justify-content: space-around;

}
.org{
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    gap: 10px;
}
.sidebar{
    border: 1px solid gray;
}
.content{
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    width: 100%;
}
.messages{
    display: flex;
    justify-content: center;
    border: 1px solid gray;

}

