* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #6383db;
  padding: 10px 20px;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.MoltaqaIcon {
  width: 80px !important;
  height: 60px !important;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 3px 8px;
  width: 900px;
  height: 40px;
  justify-content: space-between;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 8px;
  width: 80%;
  border-radius: 5px;
  font-size: 14px;
}

.search-bar button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 0.1vh 0;

}

.organization {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 20px;
  gap: 20px;
  margin-top: 100px;
  z-index: 0;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  color: #3498db;
}

.content {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.messages {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.messages h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.messages p {
  font-size: 14px;
  color: #555;
}

@media (max-width: 768px) {
  .parent {
    flex-direction: column;
  }

  .org {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .content {
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }
}
