body {
 }
.MoltaqaIcon {
  border-radius: 20%;
  /* width: 5%; */
  height: 100px;
}
.LogoutButton {
   position: relative; 
   left: 10%; 
   bottom: 10vh; 
}
.parent {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  padding: 10px;
  height: 92.2vh;
  background-color: rgb(246, 248, 250);
}
.AdNav {
  display: flex;
  align-items: center;
  gap: 7em;
  height: 5em;
}
.org {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  gap: 10px;
  width: 100%;
}
.sidebar {
  border: 1px solid rgba(128, 128, 128, 0.54);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.54);
  width: 100%;
  justify-content: flex-start;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: hwb(0 100% 0%);
}
.messages {
  display: flex;
  justify-content: center;
  border: 1px solid gray;
}
.adminSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  gap: 9em;
}

.logoutBTN{
  align-self: flex-end;
  justify-self: end;
}
.active {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.875);
  padding: 1em;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  background-color: rgb(249, 249, 249);
  position: relative;
  width: 162%;
  right: 31%;
}
.NotActive {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.875);
  padding: 1em;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 162%;
  right: 31%;}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.875);

}
