.userPic{
    width: 30%;
    border-radius: 50%;
}
.Head-Chat{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 27%;
    top: -1vh;
}
.User-Name-Chat{
    font-family: sans-serif;
    font-weight: bolder;
    position: relative;
    top: -5.6vh;
    left:35%;
}
.Message-Chat-Card{
    position: absolute;
    width: 500px;
    right: 140%;
    z-index: 10;
    height: 110vh;
    background-color: white;
    top: 0vh;
   overflow: hidden;
    border: dotted 0.5px rgb(99,131,219); 
}
.Perent_Message-Containor{
    max-height: 100vh; 
    overflow-y: auto; 
    display: grid;
   gap: 20px;
   width: 500px;

}
.Exit-Chat:hover{
    background-color: red;
   
}
.Exit-Chat{
    position: relative;
    left: 89%;
    bottom: 1.7vh;
    width: 7%;
    height: 6vh;
    padding: 0 0 0 0;
}
.Message-Containor{
    position: relative;
    left: 3%;
    bottom: 7vh;
   margin: 0 0 -4vh 0;
   width: 90%;
  
}
.userPic-Message{
    width:5%;
    border-radius: 50%;
}
.UserName-ChatMessage{
    position: relative;
    left: 7.3%;
    bottom: 5vh;
    width: 10%;

}
.Message-Chat{
    position: relative;
    left: 10%;
    bottom: 3.5vh;
    font-family:  'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    height: auto;
    min-width: 5%;
    max-width: 20%;
    padding: 10px;
    background-color: rgb(99,131,219);
    border-radius: 0px 10px 10px 10px;
    cursor: pointer;

}
.Message-Time{
    position: relative;
    left: 50%;
    bottom: 0vh;
    width: 10%;

}
.Send-Perent{
    position: sticky;
    bottom: 0vh;
   text-align: center;
  opacity: 0.7;
}
.Send_Input{
width: 50%;
position: relative;
height: 5vh;
border: solid 0.2px;
}
.Chat-Con{
    position: relative;
    top: 2vh;
}
.UserName-ChatMessage-You{
    position: relative;
    left: -5%;
    bottom: 5vh;
}
.Message-Containor-User{
    position: relative;
    left: 92%;
    bottom: 2vh;
   margin: 0 0 -3vh 0;
   width: 90%;
}
.Message-Time-you{
    position: relative;
    right: 49%;
    bottom: 1vh;
}
.Message-Chat-you{
    position: relative;
    right: 23%;
    bottom: 3.5vh;
    font-family:  'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    height: auto;
    min-width: 5%;
    max-width: 20%;
    padding:10px;
    background-color: rgb(99,131,219);
    border-radius: 10px 0px 10px 10px;
    cursor: pointer;
}
