.parentHomeAdmin{
    display: flex;
    flex-direction: column;
    /* height: 50em; */
    /* width: 100%; */
    justify-content: space-evenly;
    padding: 5px;
    gap: 5em;
    background-color: rgb(255, 255, 255);
}
.statistics{
    display: flex;
    width: 75em;
    justify-content: space-around;
    align-items: center;
    background-color: white;

    
}
.cards{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.cards .card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.519);
    width: 19em;
    font-weight: 500;
    gap: 20px;
    background-color: white;

}
.card .innerCard{
    display: flex;
    gap: 0.5em;
    background-color: white;

}