/* Followers.css */
.card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.card-content {
  padding: 10px;
}

button {
  margin-top: 5px;
}

button:focus {
  outline: none;
}
