.List-Users{
   position: absolute;
   left: 27%;
   width: 60.5%;
   bottom: 46.5vh;
   z-index: 10;
   margin: 0 0 0 0;
   border-radius: 5px;
   background-color: white;
   border: solid 0.1px rgb(99,131,219);
   opacity: 0.9;
}

.last_Name_Search{
cursor: pointer;
}
.last_Name_Search:hover{
    color: rgb(99,131,219);
}
.List-Users-Non{
    display: none;
}