.parentRenderUserAdmin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    height: 23em;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 75em;
    padding: 10px;
   
}
.parentUserAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.51);
    border-radius: 10px;
    gap: 1em;
    padding: 1em;
}
.adminUserHeader{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.parentUserAdmin:hover{
    box-shadow: 1px 1px 4px 2px rgba(128, 128, 128, 0.344) ;
}
.parentUserAdmin .image{
    height: 50px;
    width: 50px;
    
}
@media screen and (max-width:376px) {
    .parentRenderUserAdmin{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: unset;
    }    
}
@media screen and (max-width:431px) {
    .parentRenderUserAdmin{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: unset;
    }    
}
@media screen and (max-width:541px) {
    .parentRenderUserAdmin{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: unset;
    }    
}
@media screen and (max-width:641px) {
    .parentRenderUserAdmin{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: unset;
    }    
}
@media screen and (max-width:741px) {
    .parentRenderUserAdmin{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: unset;
    }    
}
@media screen and (max-width:841px) {
    .parentRenderUserAdmin{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: unset;
    }    
}
@media screen and (min-width:842px) {
    .parentRenderUserAdmin{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        width: 60em;
    }    
}
@media screen and (min-width:1000px) {
    .parentRenderUserAdmin{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        width: 50em;
    }    
}